/* Copied from CI - Requires Edit */

.Form {
  border: none;
  border-bottom: 2px #00d1ff solid;
}

.Button {
  border: none;
  background-color: #1C2C5B;
  color: #ffffff;
  border-radius: 100px;
  padding: 5px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #6CABDD;
}
